body{
  margin: 0 auto;
  display: block;
  background-color: #e0e0e0;
  backdrop-filter: blur(5.5px);
  background-image: url(../husj._.yk18/img/welcome.jpeg);
  background-position: center;
}
h1{
  color: white;
  text-align: center;
}
.mid-text{
  text-align: center;
  font-size: 4vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.sub-text{
  font-size: 1.3vw;
}
.b-list{
  padding: 0;
}
.b-item{
  list-style: none;
  display: inline;
  bottom: 0%;
  border-radius: 8px 8px 0 0;
  background-color: #000000;
  background: linear-gradient(90deg,rgb(0 0 0 / 50%) 0,rgb(0 0 0 / 50%) 100%);
  width: 130px;
  position: absolute;
}
.list-text{
  color: white;
  font-style: ;
  text-align: center;
}
bottom-list-w{
  visibility: collapse;
}
.click{
  display: none;
}
.click:checked ~ * .bottom-list-w {
  visibility: visible;
}

table{
  
}
th{
  color: #3473B6;
}
.wel-img{
  max-width: 100%;
  max-height: auto;
  display: flex;
  align-items: center;
}
