body{
  user-select: none;
  margin: 0 auto;
  display: block;
  background-color: #e0e0e0;
  background-image: url(../husj._.yk18/img/sleep.jpg);
  background-position: center;
  background-size: cover;
}
.background{
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2.5px);
}
.wel-text{
  margin: 3.5vw;
  font-family: DFKai-sb;
  font-size: 6vw;
  color: white;
  text-align: center;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.mid-text{
  text-align: center;
  font-size: 4vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.to-intro{
  display: inline-flex;
  color: white;
  font-size: 1.5vw;
  align-items: center;
}
.to-intro:hover{
  .sub-text{
    transform: translateX(.35vw);
  }
  text-shadow: #00000090 0.1em 0.1em 0.1em;
}
.sub-text span{
  position: relative;
  font-size: 1.6vw;
  display: inline-block;
  animation: dot 1.8s ease-in-out infinite;
  animation-delay: calc(0.18s * var(--i));
  animation-play-state: running;
}
@keyframes dot{
  0%,40%,100%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(-.6vw);
  }
}

.bottom-list-w{
  position: fixed;
  z-index: 2;
  right:0;
  top: 27;
  overflow: hidden;
}
.b-list{
  position: relative;
  right: -100%;
  padding: 0;
  border-radius: 3vw 0 0 3vw;
  overflow: hidden;
}
.b-item{
  list-style: none;
  padding: 10 0 10 0;
  background-color: #0000005e;
  width: 150px;
  position: relative;
}
.b-item:hover{
  background-color: #00000094;
}
.list-text{
  color: white;
  margin: 0;
  text-align: center;
}
.menu{
  position: fixed;
  z-index: 2;
  right: 0;
  user-select: none;
  padding: 10 0 10 0;
  border-radius: 0 0 0 15px;
  width: 130px;
  background-color:#e2e2e287;
  text-align: center;
  font-size: 20;
}
.menu:hover{
  background-color:#e2e2e2b0;
}

#click-menu{
  display: none;
}
#click-menu:checked ~ * .b-list {
  transform: translateX(-100%);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
#click-menu:not(:checked) ~ * .b-list {
  transform: translateX(100%);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

#click-intro{
  display: none;
}
#click-intro:checked ~ * .introduce {
  transform: translateY(0%);
  transition-duration: 1.2s;
  transition-timing-function: ease-in-out;
  height: 200%;
}
#click-intro:not(:checked) ~ * .introduce {
  transform: translateY(100%);
  transition-duration: 1.2s;
  transition-timing-function: ease-in-out;
}
.introduce-w{
  pointer-events: visible;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.introduce{
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #af9e8c;
}
.back{
  display: inline-flex;
  position: fixed;
  bottom: 0%;
  margin-inline: 2vw;
  color: white;
  font-size: 1.5vw;
  align-items: center;
}
.back:hover{
  .back-text{
    transform: translateX(.35vw);
  }
  text-shadow: #00000090 0.1em 0.1em 0.1em;
}
.member{
  background-color: #ffffff87;
  margin: 2vw;
  padding: 2vw;
  border-radius: 2vw;
  font-size: 1.5vw;
}
.icon{
  position: relative;
  width: 6.5vw;
  height: 6.5vw;
  padding: 0;
  border-radius: 5vw;
  overflow: hidden;
}
.icon img{
  max-width: 100%;
  max-height: auto;
  align-items: center;
}
.m-intro-text{
  margin-bottom: 0;
}

table{
  
}
th{
  color: #3473B6;
}
.wel-img{
  max-width: 100%;
  max-height: auto;
  display: flex;
  align-items: center;
}
