body{
  margin: 0 auto;
  display: block;
  background-color: #e0e0e0;
  backdrop-filter: blur(5px);
  background-image: url(../husj._.yk18/img/welcome.jpeg);
}
h1{
  color: white;
  text-align: center;
}
.mid-text{
  text-align: center;
  font-size: 4vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.sub-text{
  font-size: 1.3vw;
}
table{
  
}
th{
  color: #3473B6;
}
.wel-img{
  max-width: 100%;
  max-height: auto;
  display: flex;
  align-items: center;
}
