body{
  user-select: none;
  margin: 0 auto;
  display: block;
  background-color: #e0e0e0;
  backdrop-filter: blur(5.5px);
  background-image: url(../husj._.yk18/img/welcome.jpeg);
  background-position: center;
}
h1{
  color: white;
  text-align: center;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.mid-text{
  text-align: center;
  font-size: 4vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.sub-text{
  font-size: 1.3vw;
}

.bottom-list-w{
  position: absolute;
  right:0;
  top: 27;
  overflow: hidden;
}
.b-list{
  position: relative;
  right: -100%;
  padding: 0;
  border-radius: 3vw 0 0 3vw;
  overflow: hidden;
}
.b-item{
  list-style: none;
  padding: 10 0 10 0;
  background-color: #0000005e;
  width: 150px;
  position: relative;
}
.b-item:hover{
  background-color: #00000094;
}
.list-text{
  color: white;
  margin: 0;
  text-align: center;
}
.menu{
  position: absolute;
  right: 0;
  user-select: none;
  padding: 10 0 10 0;
  border-radius: 0 0 0 15px;
  width: 130px;
  background-color:#e2e2e287;
  text-align: center;
  font-size: 20;
}
.menu:hover{
  background-color:#e2e2e2b0;
}

#click-menu{
  display: none;
}
#click-menu:checked ~ * .b-list {
  transform: translateX(-100%);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
#click-menu:not(:checked) ~ * .b-list {
  transform: translateX(100%);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

table{
  
}
th{
  color: #3473B6;
}
.wel-img{
  max-width: 100%;
  max-height: auto;
  display: flex;
  align-items: center;
}
