body{
  background-color: #e0e0e0;
  margin: 20px;
}
h1{
  background-color: #3473B6;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}
table{
  
}
th{
  color: #3473B6;
}
wel{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -999;
}
wel img{
  min-height: 100%;
  min-width: 1000px;
  max-width: 100%;
  max-height: auto;
  display: flex;
}
