body{
  background-color: #e0e0e0;
  margin: 20px;
}
h1{
  background-color: #3473B6;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}
table{
  
}
th{
  color: #3473B6;
}
wel img{
  top: -20px;
  left: -20px;
  max-width: 100%;
  max-height: auto;
  display: flex;
}
